.home{
    display: flex;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: gainsboro;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.button.active {
    background-color: slategray;
    pointer-events: none;
    border: black 2px  solid;;
}