body{
    margin: 0;
    padding: 20px;
    font-family: "sans-serif";
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

header a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

header nav a.active {
    background-color: slategray;
    pointer-events: none;
}

main{
    max-width: 1000px;
    margin: 40px ;
}